extends layout

block content
    nav.navbar.navbar-default(role="navigation")
        div.container-fluid
            div#navbar
                ul.nav.nav-pills.nav-justified
                    li: a(href="/remote/tv") TV
                    li.active: a(href="/remote/xbox") XBox
                    li: a(href="/remote/wii") Wii
                    li: a(href="/remote/soundbar") Soundbar
    div.container.text-center
        div.text-center
            button.btn.btn-default.remote-button(type="button", onclick="postData('xbox', 'bumperLeft', {})")
                span.glyphicon.glyphicon-chevron-left
            button.btn.btn-default.btn-lg.remote-button(type="button", onclick="postData('xbox', 'arrowUp', {})")
                span.glyphicon.glyphicon-triangle-top
            button.btn.btn-default.remote-button(type="button", onclick="postData('xbox', 'bumberRight', {})")
                span.glyphicon.glyphicon-chevron-right
            br
            button.btn.btn-default.btn-lg.remote-button(type="button", onclick="postData('xbox', 'arrowLeft', {})")
                span.glyphicon.glyphicon-triangle-left
            button.btn.btn-default.btn-lg.remote-button(type="button", onclick="postData('xbox', 'a', {})")
                span.glyphicon.glyphicon-stop
            button.btn.btn-default.btn-lg.remote-button(type="button", onclick="postData('xbox', 'arrowRight', {})")
                span.glyphicon.glyphicon-triangle-right
            br
            button.btn.btn-default.remote-button(type="button", onclick="postData('xbox', 'y', {})")
                span.glyphicon.glyphicon-info-sign
            button.btn.btn-default.btn-lg.remote-button(type="button", onclick="postData('xbox', 'arrowDown', {})")
                span.glyphicon.glyphicon-triangle-bottom
            button.btn.btn-default.remote-button(type="button", onclick="postData('xbox', 'b', {})")
                span.glyphicon.glyphicon-remove-circle
            br
            br
            button.btn.btn-default.btn-lg.remote-button(type="button", onclick="postData('tv', 'volumeUp', {})")
                span.glyphicon.glyphicon-volume-down
            button.btn.btn-default.btn-lg.remote-button(type="button", onclick="postData('tv', 'volumeDown', {})")
                span.glyphicon.glyphicon-volume-up
            button.btn.btn-default.btn-lg.remote-button(type="button", onclick="postData('xbox', 'menu', {})")
                span.glyphicon.glyphicon-th-large
            button.btn.btn-default.btn-lg.remote-button(type="button", onclick="postData('xbox', 'power', {})")
                span.glyphicon.glyphicon-off
            hr